
.header-global h1.logo img {
	max-height: 40px;
}
.global-header .header-logo a .logo {
    float: left;
    height: 75px;
    border-radius: 50%;
}
.home > header {
	background: url('/static/gran-openedx-theme/images/gran.jpg');
	background-size: cover;
	background-position: 35%;

	.outer-wrapper {
		padding-top: 150px;
	    padding-bottom: 150px;
	}
	.title {
		background: transparent;
		box-shadow: none;
		margin-left: 0;

		> .heading-group h1 {
			color: #fff;
			text-shadow: none;
		}
		> .heading-group p {
			color: #fff;
		}
	}
}

.courses-container  {
    display: flex;
    border-radius: 10px 100px / 120px;
    width: 80%;
    margin: auto;
    text-decoration: solid;
    color: blueviolet;
    text-shadow: darken($color: #000000, $amount: 0);
    justify-content: center space-between;
    background-color: rgb(206, 235, 235);
    
}
.courses .courses-listing-item {
    margin: auto;
    border-radius: 30px;
    text-decoration: solid;
    color: blueviolet;
    text-shadow: darken($color: #000000, $amount: 0);
    justify-content: center;
}

.home .highlighted-courses {
    box-sizing: border-box;
    justify-self: center;
    margin-bottom: auto;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;

}

////// Article Section //////
* {box-sizing: border-box;}

.artikler {
  display: grid;
  border: 2px solid #c0c7d4;
  border-radius: 15px;  
  background-color: #dbcfbe;  
  justify-content: space-between;  
  grid-template-columns: repeat(3, 1fr);
    h3 {
    color: olivedrab;
    text-align: center;
}
   div {    
    border: 2px solid #d4b18a;
    border-radius: 15px;
    background-color: #d8dbe2;    
    padding: 1em;
    color: lightslategrey;
  }
}



  

   

/////// Course category  section//////// ( You can change it !)

.ctgr-container {
    display: flex;
    justify-content: center;    
    align-items: center;
    text-decoration: none;  
    
}

.ctgr-item  {
    width: 15%;
    font-family: Arial, Helvetica, sans-serif bold;
    background-color: rgb(101, 65, 231);
    border: px solid rgb(107, 167, 167);
    color:orange;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex; 
   
   
}

.ctgr-item:hover {
    background-color: rgb(185, 123, 94);
}
.ctgritems {
    min-height: 50px;
    display: flex;
    text-decoration: none;  
    color: rgb(247, 243, 238);
    border-radius: 10px;
    
}

.ctgritems a {
    text-decoration: none;  
        
}

 
   
////// Footer   ////// 
.wrapper-footer {
    box-shadow: none;
    padding: 25px 40px;

     
    .wrapper-logo {
        display: none;
    }
    .copyright {
        display: none;
    }
    .nav-legal ul {
        display: none;
    }
    footer#footer-openedx .footer-about-openedx a {
        float: none;
    }
  }
