
.header-global h1.logo img {
	max-height: 40px;
}
.global-header .header-logo a .logo {
    float: left;
    height: 75px;
    border-radius: 50%;
}
.home > header {
	background: url('/static/gran-openedx-theme/images/gran2.png');
	background-size: cover;
	background-position: 35%;

	.outer-wrapper {
		padding-top: 150px;
	    padding-bottom: 150px;
	}
	.title {
		background: transparent;
		box-shadow: none;
		margin-left: 0;

		> .heading-group h1 {
			color: #fff;
			text-shadow: none;
		}
		> .heading-group p {
			color: #fff;
		}
	}
}

.courses-container  {
    display: flex;
    border-radius: 10px 100px / 120px;
    width: 80%;
    margin: auto;
    text-decoration: solid;
    color: blueviolet;
    text-shadow: darken($color: #000000, $amount: 0);
    justify-content: center space-between;
    background-color: rgb(206, 235, 235);
    
}
.courses .courses-listing-item {
    margin: auto;
    border-radius: 30px;
    text-decoration: solid;
    color: blueviolet;
    text-shadow: darken($color: #000000, $amount: 0);
    justify-content: center;
}

.home .highlighted-courses {
    box-sizing: border-box;
    justify-self: center;
    margin-bottom: auto;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;

}

////// Article Section //////

* {box-sizing: border-box;}

.artikler {
  display: flex;
  border: 2px solid #c0c7d4;
  border-radius: 15px; 
  transition: background-color 1.5sn; 
  background-color: white;  
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
    h3 {
    color: olivedrab;
    text-align: center;
}
   div {    
    border: 2px solid #d4b18a;
    border-radius: 15px;
    background-color: #d8dbe2;    
    padding: 1em;
    color: lightslategrey;
  }
}
.artikler #umbrella {
    background-color: sandybrown;
    color: slateblue;
    transition: color 1.5sn;
}

.artikler #umbrella:hover {
    p {
        color: rgb(217, 218, 235);
    }
}

.artikler #alone {
    background-color: rgb(236, 219, 236);
    color: rgb(252, 245, 240);
    transition: color 1.5sn;
}

.artikler #alone:hover {
    p {
        color: rgb(98, 103, 190);
    }
}

.artikler #water {
    background-color: rgb(181, 214, 170);
    color: rgb(196, 86, 52);
    transition: color 1.5sn;
}

.artikler #water:hover {
    p {
        color: rgb(165, 135, 130);
    }
}
  

   

/////// Course category  section//////// ( You can change it !)

.ctgr-container  {
    display: flex;
    justify-content: center;    
    align-items: center;
    text-decoration: none;
    overflow: hidden;  
    
}

.ctgr-items  {
    width: 250px;
    height: 100px;    
    transition: border-radius 1.2s;
    font-family: Arial, Helvetica, sans-serif bold;
    background: rgb(219, 228, 205);
    border: solid rgb(195, 248, 248);
    font-size: 2em;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;    
    display: flex; 
   
   
}

.ctgr-items:hover {
    background-color: rgb(224, 217, 214);
    border-radius: 100px;
    a { color: rgb(124, 42, 161); }
    //transition: width 4s;
}


// .ctgritems {
//     min-height: 50px;
//     display: flex;
//     text-decoration: none;  
//     color: rgb(247, 243, 238);
//     border-radius: 10px;
//     a {
//         text-decoration: none;          
//     }
    
// }




 
   
////// Footer   ////// 
.wrapper-footer {
    box-shadow: none;
    padding: 25px 40px;

     
    .wrapper-logo {
        display: none;
    }
    .copyright {
        display: none;
    }
    .nav-legal ul {
        display: none;
    }
    footer#footer-openedx .footer-about-openedx a {
        float: none;
    }
  }
